<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" th:href="@{/css/admin-login.css}">
</head>
<body>
<div class="login-container">
    <h2>Admin Login</h2>
    <form th:action="@{/admin/login}" method="post" th:object="${admin}">
        <p th:text="${error}"></p>
        <label>Username</label>
        <input type="text" th:field="*{username}" required>
        <label>Password</label>
        <input type="password" th:field="*{password}" required>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
